<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">

  <Identity Name="0a2a62d2-58da-4b9c-bb0c-c476e695537b"
            Publisher="CN=excadmin"
            Version="1.0.0.0" />

  <Properties>
    <DisplayName>Rakuten.Framework.Cache.WindowsStore.Test</DisplayName>
    <PublisherDisplayName>excadmin</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="Rakuten.Framework.Cache.WindowsStore.Test.App">
        <VisualElements
            DisplayName="Rakuten.Framework.Cache.WindowsStore.Test"
            Logo="Assets\Logo.png"
            SmallLogo="Assets\SmallLogo.png"
            Description="Rakuten.Framework.Cache.WindowsStore.Test"
            ForegroundText="light"
            BackgroundColor="#464646">
            <DefaultTile ShowName="allLogos" />
            <SplashScreen Image="Assets\SplashScreen.png" />
        </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>